.gridCell {
  display: inline-flex;
  overflow: hidden;
  height: 90px;
}

.gridCellBottom {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 4;
  height: 0px;
  overflow: hidden;
  transition: height ease-in 0.1s;

  &--active {
    transition: height ease-in 0.1s;
    height: 100%;
  }
}

.gridCellBottomContainer {
  position: relative;
  bottom: -14px;
  height: 60px;
}

.iconButton {
  position: absolute;
  display: inline;
  padding-top: 6px;
}
.checkboxIcon {
  height: 25px;
  width: 25px;
}

.colorBox {
  position: relative;
  display: inline-block;
  border: 1px solid #181818;
  margin: 10px 10px;
  border-radius: 5px;
  height: 35px;
  width: 35px; 
}